<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
        <material name="blue">
            <color rgba="0 0 1 1"/>
        </material> 
        <material name="grey">
            <color rgba="0.5  0.5  0.5 1"/>   
        </material>
        <material name="orange">
            <color rgba="1 0.5 0 1"/>
        </material>
        <material name="yellow">
                <color rgba="1 1 0 1"/>
        </material>
        <material name="black">
                <color rgba="0 0 0 1"/>
        </material>
        <material name="white">
                <color rgba="1 1 1 1"/>
        </material>
        <xacro:macro name="box_inertia" params="length width height mass  xyz rpy ">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="${mass}"/>
                <inertia ixx="${(mass/12) * (height*height + length*length)}" ixy="0" ixz="0" iyy="${(mass/12)*(width*width + length*length)}" iyz="0" izz="${(mass/12)*(width*width + height*height)}"/>
            </inertial>
        </xacro:macro>
        <xacro:macro name="cylinder_inertia" params="m l r xyz rpy">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="${m}"/>
                <inertia ixx="${(m/12)*(3*r*r + l*l)}" ixy="0" ixz="0" iyy="${(m/12)*(3*r*r + l*l)}" iyz="0" izz="${(m*r*r)/2}"/>
            </inertial>
        </xacro:macro> 
        <xacro:macro name="sphere_inertia" params="m r xyz rpy">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="${m}"/>
                <inertia ixx="${(m*r*r)*2/5}" ixy="0" ixz="0" iyy="${(m*r*r)*2/5}" iyz="0" izz="${(m*r*r)*2/5}"/>
            </inertial>
        </xacro:macro>
    
</robot>